.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 292px;
  height: 100%;
  padding: 16px;
  background: var(--background-viol);
}

.navCenter,
.navBottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navButton {
  background-color: transparent;
  color: var(--color-primary);
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  border: none;
  padding: 16px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.navButton:hover,
.navButton:focus,
.navButton:active {
  transform: scale(1.01);
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
}
