.faq {
  width: 100%;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}

.faq__title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 32px;
}
.faq__title::before,
.faq__title::after {
  content: "";
  display: inline-block;
  width: 91px;
  height: 24px;
  background-repeat: no-repeat;
}
.faq__title::before {
  background-image: url("/icons/vector-left.svg");
}
.faq__title::after {
  background-image: url("/icons/vector-right.svg");
}

/* === MOBILE FIRST === */
.faq__box {
  display: flex;
  flex-direction: column; /* одна колонка */
  gap: 24px;
}

.faq__image {
  display: none; /* приховано на мобільних */
}

.faq__list {
  list-style: none;
  width: 100%;
}

/* === DESKTOP (2 колонки) === */
@media (min-width: 768px) {
  .faq__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }

  .faq__image {
    display: block; /* показуємо тільки на планшеті/десктопі */
    flex: 0 0 40%;
  }

  .faq__list {
    max-width: 610px;
    flex: 1;
  }
}

.faq__item {
  padding: 26px 32px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 4px 0px #19213d0f;
  transition: all 0.4s;
  cursor: pointer;
}
.faq__item:hover {
  box-shadow: 0px 1px 4px 0px #19213d8f;
}
.faq__item:not(:last-child) {
  margin-bottom: 8px;
}

.faq__item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__item-title {
  max-width: 482px;
  margin: 0;
  padding: 0;
}

.faq__item-icon {
  width: 34px;
  height: 34px;
  color: var(--text-main);
  fill: var(--color-neutral);
  transition:
    transform 0.3s ease,
    color 0.3s ease,
    fill 0.3s ease;
}
.faq__item-icon:hover {
  fill: var(--color-primary);
  color: white;
}
.rotate {
  transform: rotate(90deg);
  fill: var(--color-primary);
  color: white;
}

/* Текст для акордеона */
.faq__item-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  transition: all 0.3s ease;
}

.show {
  max-height: 300px;
  opacity: 1;
  margin-top: 16px;
}
