.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px; /* або під твій Sidebar */
  height: 100vh;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  z-index: 50;
}

.main {
  margin-left: 260px; /* рівно ширині сайдбара */
  flex: 1;
  padding: 24px;
}

/* Tablet (приблизно ≥768px) */
@media (min-width: 768px) {
  .wrapper {
    flex-direction: row; /* sidebar зліва, контент справа */
  }

  .imagesBlock {
    flex: 1;
  }
}

/* Desktop (приблизно ≥1200px) */
@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .imagesBlock {
    flex: 1;
  }
}
