.heroSection {
  max-width: 1248px;
  margin: 0 auto;
}

.hero {
  /* отступ под хедер  */
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 77px;
  /* щоб на мобілках блоки падали вниз */
  flex-wrap: wrap;
}

.hero__container {
  max-width: 612px;
  width: 100%;
  flex: 1;
}

.hero__title {
  position: relative;
  display: inline-block;
  color: transparent;
  background: linear-gradient(to right, #6c63ff, #413b99);
  -webkit-background-clip: text;
  background-clip: text;
}

.hero__title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #6c63ff, #00bfa6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.hero__title:hover::before {
  opacity: 1;
}







.hero__text {
  margin-bottom: 44px;
}

.hero__btn {
  padding: 12px 55px;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  background: linear-gradient(to right, #6c63ff, #6c63ff);
  transition: background 0.3s ease, transform 0.2s ease-in-out;
}

.hero__btn:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #6c63ff, #413b99);
}

.hero__btn:active {
  background: var(--btn-bg-active);
  transform: scale(0.97);
  background-color: #00bfa6;
}

.hero__image {
  max-width: 537px;
  width: 100%;
  height: auto;
  display: block;
  flex: 1;
}

/* 📱 адаптивність */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero__container {
    margin-right: 0;
    padding: 0 10px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 48px;
  }

  .hero__text {
    font-size: 20px;
  }

  .hero__btn {
    width: auto;
    padding: 12px 32px;
  }

  .hero__image {
    width: 100%;
    margin-top: 24px;
  }
}