.heroSection {
  padding: 40px 20px;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.hero {
  margin-top: 76px; /* отступ под хедер  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap; /* щоб на мобілках блоки падали вниз */
  padding-top: 121px; /* отступ с веху по макету  */
  padding-bottom: 57px; /* отступ внизу по макету  */
}

.hero__container {
  max-width: 612px;
  width: 100%;
  flex: 1;
}

.hero__title {
  font-style: normal;
  background: linear-gradient(90deg, #6c63ff, #413b99);
  /* кросбраузерна підтримка */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback */
  margin-bottom: 32px;
}

.hero__text {
  margin-bottom: 32px;
  padding-right: 40px;
}

.hero__btn {
  padding: 12px 55px;
  border-radius: 5px;
  background-color: #6c63ff;
  transition:
    background 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

.hero__btn:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #6c63ff, #413b99);
}

.hero__btn:active {
  background: var(--btn-bg-active);
  transform: scale(0.97);
  background-color: #00bfa6;
}

.hero__image {
  max-width: 537px;
  width: 100%;
  height: auto;
  display: block;
  flex: 1;
}

/* 📱 адаптивність */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero__container {
    margin-right: 0;
    padding: 0 10px;
  }

  .hero__title {
    /* font-size: 42px; */
    line-height: 48px;
  }

  .hero__text {
    font-size: 20px;
  }

  .hero__btn {
    width: auto;
    padding: 12px 32px;
  }

  .hero__image {
    width: 100%;
    margin-top: 24px;
  }
}
