/* Mobile first */
.setting{
  background-color: aqua;
  display: inline-flex;
}


/* Tablet (приблизно ≥768px) */
@media (min-width: 768px) {
  .wrapper {
    flex-direction: row; /* sidebar зліва, контент справа */
  }

  .imagesBlock {
    flex: 1;
  }
}

/* Desktop (приблизно ≥1200px) */
@media (min-width: 1200px) {
  .wrapper {
    flex-direction: row;
  }

  .imagesBlock {
    flex: 1;
  }
}
