/* Mobile first */
.setting {
  display: flex;
  gap: 24px;
}

@media (min-width: 768px) {
  .setting {
    display: grid;
    grid-template-columns: 292px 1fr;
    height: 100%;
  }
}

@media (min-width: 1440px) {
    .setting {
    height: 100vh;
  }
}
