.footer {
  border-radius: 16px 16px 0 0;
  padding: 32px 16px;
  background-color: var(--background-viol);
}

.container {
  max-width: 1248px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  gap: 32px;
}

/* Блоки з навігацією */
.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.linksWrapper {
  display: flex;
  gap: 32px;
}

.subtitle {
  text-align: center;
  margin-bottom: 11px;
}

.subtitlelegal {
  text-align: left;
  margin-bottom: 11px;
}
/* Списки лінків */
.navigation nav,
.legalNav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navlink {
  text-decoration-line: none;
  color: var(--text-main);
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.navlink:hover {
  opacity: 1;
}

/* Соцмережі */
.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.text,
.link {
  line-height: 2.14;
  text-align: center;
  color: var(--text-main);
  opacity: 0.6;
  transition: opacity 0.2s ease-in;
  font-size: 12px;
  margin-top: 24px;
}

.link:hover {
  color: #131922;
  opacity: 1;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  /* background: var(--color-primary); */
  background: linear-gradient(to right, #6c63ff, #6c63ff);
  color: var(--background);
  transition:
    background 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.socialButton:hover {
  background: var(--gradient-linear);
  transform: scale(1.2);
}

.socialButton:active {
  background-color: var(--secondary);
  transform: scale(0.95);
}

/* --- Десктопні стилі --- */
@media (min-width: 768px) {
  .footer {
    padding: 64px 96px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .navigation nav,
  .legalNav {
    align-items: flex-start;
  }

  .subtitle {
    text-align: left;
  }

  .socials {
    justify-content: flex-start;
  }

  .text {
    margin: 24px 0 0 0;
  }
}

@media (min-width: 1440px) {
  .linksWrapper {
    display: flex;

    gap: 200px;
  }
}
