.footer {
  border-radius: 16px 16px 0 0;
  padding: 64px 96px;
  background-color: var(--background-viol);
}
.subtitle {
  background-color: brown;
}
.footernav {
  background-color: greenyellow;
}
.nav_inner {
  background-color: crimson;
}
.polisy_inner {
  background-color: darkred;
}

.subtitle {
  background-color: darkred;
}
.navlink {
  background-color: blueviolet;
}
.linkpolicy {
  background-color: paleturquoise;
}
.legalnav {
  background-color: lightseagreen;
}
.socials {
  background-color: peachpuff;
}
.socialButton {
  background-color: lightsalmon;
}
.socials_inner {
  background-color: blue;
}
.socialButton {
  background-color: lightcoral;
}
.developer_inner {
  background-color: darkorchid;
}
.text,
.link {
  line-height: 2.14;
  text-align: center;
  color: --text-main;
  opacity: 0.6;
}
