.howitworks {
  max-width: 100%;
}
.imagesBlock {
  max-width: 100%;
}
.container {
  max-width: 1248px;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.howitworks__title {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* расстояние между иконками и текстом */
  margin-bottom: 32px;
}
.howitworks__title::before,
.howitworks__title::after {
  content: "";
  width: 91px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}
.howitworks__title::before {
  background-image: url("/icon/vector-left.svg");
}
.howitworks__title::after {
  background-image: url("/icon/vector-right.svg");
}

.howitworks__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.howitworks__box-image {
  width: 513px;
  max-width: 100%;
  height: auto;
  display: block;
}
.howitworks__box-title {
  margin-bottom: 8px;
}

.howitworks__box-item {
  padding: 10px;
}
.howitworks__box-text {
  position: relative;
  display: flex;
  align-items: center;
}
.howitworks__box-text::before {
  content: "";
  color: #00bfa6;
  width: 24px;
  height: 24px;
  left: 0;
  margin-right: 10px;
  display: inline-block;
  background-image: url("/icon/done.svg");
  background-repeat: no-repeat;
}

.howitworks__bottom {
  max-width: 1036px;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #bebee27c;
  padding: 32px 0;
  text-align: center;
}
.howitworks__bottom-text {
  max-width: 642px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.howitworks__bottom-btn {
  padding: 12px 49px;
  border-radius: 5px;
  user-select: none;
  background-color: #6c63ff;
  transition:
    background 0.4s ease,
    transform 0.3s ease;
}
.howitworks__bottom-btn:hover {
  background-color: #00bfa6;
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}
.howitworks__bottom-btn:active {
  transform: scale(0.97);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
