/* Mobile first */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* Sidebar прихований за замовчуванням */
.sidebar {
  display: none;
}

.profiletitle {
  display: block;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.mobileheader {
  padding: 16px;
  border-bottom: 1px solid var(--color-neutral);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 24px;
  border-radius: 16px;
  background-color: #f3f4f6;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.cart,
.three_progress,
.four_task {
  margin-top: 24px;
}

.imagesBlock,
.three_progress,
.robot_img {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.taskMobile {
  display: block;
}

.taskDesktop {
  display: none;
}

.card:hover {
  background-color: #e0e7ff; /* світліша синя при hover */
  transform: translateY(-2px);
}

.cardicon {
  width: 88px;
  height: 88px;
  margin: 32px;
}
.card:hover .cardicon {
  fill: #4338ca; /* темніший синій */
}

.cardtitle {
  padding-top: 24px;
}

.cardtext {
  line-height: 1.4;
}

/* адаптив */
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    gap: 24px;
  }

  .card {
    flex: 1;
    min-height: 560px;
  }
}
/* Tablet (≥768px) */
@media (min-width: 768px) {
  .profileTitle {
    display: none;
  }

  .wrapper {
    flex-direction: row;
    min-height: 100vh; /* важливо */
  }

  .sidebar {
    display: block;
    flex: 0 0 260px;
    min-height: 100vh; /* щоб Sidebar точно тягнувся */
    /*border-right: 1px solid var(--color-neutral);*/
  }

  .content {
    flex: 1;
    min-height: 100vh; /* щоб контент тягнувся */
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .mobileheader {
    display: flex;
    justify-content: flex-end; /* іконки вправо */
    border-bottom: 1px solid var(--color-neutral);
    padding: 16px 0;
  }

  .cart .imagesBlock {
    flex-direction: row; /* статистика в рядок */
    gap: 16px;
  }

  .three_progress {
    flex-direction: row; /* прогрес в рядок */
    gap: 16px;
  }

  .robot_img {
    position: absolute;
    right: -24px;
    top: 600px;
    z-index: 2;
    max-width: 160px;
  }
}

/* Desktop (≥1200px) */
@media (min-width: 1400px) {
  .sidebar {
    flex: 0 0 280px;
  }

  .content {
    padding: 32px;
  }
  .robot_img {
    position: absolute;

    top: 600px;
    z-index: 2;
    max-width: 320px;
  }
  .cards {
    max-width: 861px;
    max-height: 325px;
  }
}
